<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style >
        body {
            background-color: white;
        }
        h1, h2, h3{
            color: black;
        }
    </style>
</head>
<body>
    <h1 align="center">Welcome to the Home Page</h1>
    <form method="POST" action="/about">
        <label for="size-select">Size:</label>
        <select id="size-select" class="size-select" name="product_size">
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
            <option value="2XL">2XL</option>
            <option value="3XL">3XL</option>
        </select>
        <br>
        <button type="submit" class="add-to-cart-button">Add to Cart</button>
    </form>
</body>
</html>